<!DOCTYPE html>
<html>
<head>
	<title>Go Fuck Yourself</title>
</head>
<body>
	{% if user %}
		<p> Welcome, {{ nickname }}!
		You can <a href="{{ login_logout_url }}">sign out</a>.
		</p>

	{% else %}
		<p> Welcome, {{ nickname }}.  We would like to get to know you better.
		<a href="{{ login_logout_url }}">Sign in or register</a> to customize.
		</p>
	{% endif %}

	<p>Here is an image for you to view</p>
	<img src="https://storage.googleapis.com/apppics/i_want_to_touch_your_butt.png" style="width:304px;height:228px;">
	<br>
	<p>the application ID is {{ app_id }}</p>
	<br>
	<p>the current version id is {{ version_id }}</p>
	<br>
	<p>the current auth domain is {{ auth_domain }}</p>
	<br>
	<p>the current server software is {{ server_software }}</p>
	<br>
	{% if api_result %}
	    <p>the api result is {{ api_result }}</p>

</body>
</html>
